<div class="header">
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="{{{active_route "/"}}}"><a href="/">Home</a></li>
      <li class="{{{active_route "/about"}}}"><a href="/about">About</a></li>
      <li class="{{{active_route "/contact"}}}"><a href="/contact">Contact</a></li>
    </ul>
    <h3 class="text-muted">express-boilerplate</h3>
  </div>
</div>
