<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>express-boilerplate</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{#if production }}
    <link rel="stylesheet" href="/css/app.css">
    {{/if}}
  </head>
  <body>
    {{> header }}

    <div class="container">
      {{{block "highlight"}}}
      {{> messages }}
      {{{body}}}
    </div>

    {{> footer }}

    <script src="/js/app.js"></script>
    {{{block "scripts"}}}
  </body>
</html>
