<%- contentFor('highlight') %>
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    <div class="swiper-slide">Slide 4</div>
    <div class="swiper-slide">Slide 5</div>
    <div class="swiper-slide">Slide 6</div>
    <div class="swiper-slide">Slide 7</div>
    <div class="swiper-slide">Slide 8</div>
    <div class="swiper-slide">Slide 9</div>
    <div class="swiper-slide">Slide 10</div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>

<%- contentFor('body') %>
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

  <h4>Sass</h4>
  <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>

  <h4>Bootstrap</h4>
  <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
  <h4>Modernizr</h4>
  <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>

  <button class="btn btn-default sweet">Sweet !</button>
</div>

<%- contentFor('scripts') %>
<script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true
  });

  $('button.sweet').click(function() {
  	swal("Oops...", "Something went wrong!", "error");
  });
</script>
